<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Registar Producto</h5>
      <form>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Nombre producto" [formControl]="nameControl">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Información</label>
          <div class="col-sm-10">
            <textarea class="form-control" placeholder="Información del producto"
              [formControl]="infoControl"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Imagen del producto</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Imagen" [formControl]="imageControl" />
            <small id="emailHelp" class="form-text text-muted">Use una URL</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="postProduct()">Registrar</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="this.products == 0" class="emptyMessage">
  <h3>No existen productos, debes crear un nuevo producto...</h3>
</div>

<div class="container" *ngIf="this.products != 0">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Producto</th>
            <th scope="col">Información</th>
            <th scope="col">Operación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.info}}</td>
            <td><button class="btn btn-danger" (click)="deleteProduct(product._id)">Eliminar</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>