.container {
  width: 90%;
  align-content: center;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 105%;
}
.emptyMessage {
  margin-top: 30px;
  text-align: center;
}
.containerComment{
  width: 60%;
}

.card{
  width: 100%;
  align-content: center;
}