<div class="container containerComment">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Comentario</h5>
      <form>
        <div class="form-group">
          <div class="col-md-20">
            <input class="form-control" placeholder="Comentario producto" [formControl]="commentControl">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addComment()">Agregar</button>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="this.products != 0">
  <div class="card-columns">
    <div class="card" *ngFor="let product of products" style="width: 20rem;">
      <img src="{{product.image}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.info}}</p>
        <div class="form-group form-check">
          <button class="btn btn-primary" (click)="addListToComment(product._id)" [disabled]="disabled">Agregar comentario</button>
        </div>
        <p class="card-text" *ngFor="let comment of auxComment">{{comment.comment}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.products == 0" class="emptyMessage">
  <h3>No existen productos, debes crear un nuevo producto...</h3>
</div>