<div *ngIf="this.users == 0" class="emptyMessage">
    <h3>No existen usuarios, debes crear un nuevo usuario...</h3>
  </div>

<div class="container" *ngIf="this.users != 0">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">usuario</th>
              <th scope="col">Dodumento</th>
              <th scope="col">Operatión</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user._id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.document}}</td>
              <td><button class="btn btn-danger" (click)="deleteUser(user._id)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>