<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Registro de Usuario</h5>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingrese su nombre" [formControl]="nameControl">
        </div>
        <div class="form-group">
          <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su edad"
            [formControl]="ageControl">
        </div>
        <div class="form-group">
          <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dirección"
            [formControl]="addressControl">
        </div>
        <div class="form-group">
          <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ciudad"
            [formControl]="cityControl">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingrese su correro electrónico" [formControl]="emailControl">
        </div>
        <div class="form-group">
          <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingrese su documento de identidad" [formControl]="documentControl">
        </div>
        <div class="form-group form-check">
          <p routerLink="/login">Volver al inicio</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="postUser()">Registrarse</button>
      </form>
    </div>
  </div>
</div>