<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingreso</h5>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingrese su Correo">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Documento</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <p routerLink="/register">Registrar usuario</p>
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/productList">Ingresar</button>
      </form>
    </div>
  </div>
</div>